body{
  color: #333;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  align-items: center;
}
a{
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}
.header .logo{
  font-weight: bold;
}
.header nav{
  display: flex;
  gap: 15px;
}
.post{
  display: flex;
  gap: 20px;
  align-items: center ;
  width: 80%;
  margin: auto;
}
/* .post .image{
  width: 50%;
} */
.post .image img{
  width: 400px;
}
form.login,form.register{
  max-width: 400px;
  margin: auto;
}
input{
  display: block;
  margin-bottom: 5px;
  padding: 5px 7px;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #ddd;
}
button{
  width: 105%;
  display: block;
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 7px 0;
}
h1,form.login h1,form.register h1{
  text-align: center;
} 

@media screen and (min-width: 700px) {
  .post{
      grid-template-columns: .9fr 1.1fr;
  }
}

.post .texts h2{
  margin:0;
  font-size: 2rem;
}
.post .texts a{
  text-decoration:none;
  color: inherit;
}
.post p.info{
  margin:24px 0;
  color: #888;
  font-size:1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.post p.info a.author{
  color:#333;
}
.post p.summary{
  margin:10px 0;
  line-height: 1.8rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
form.login button ,form.register button{
  width: 105%;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button{
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
form.login h1, form.register h1{
  text-align: center;
}

.post-page .image{
  max-height:300px;
  display: flex;
  overflow:hidden;
}
.post-page .image img{
  object-fit: cover;
  object-position: center center;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.post-page a{
  color:#333;
  text-decoration: underline;
}
.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
}
.post-page time{
  text-align: center;
  display: block;
  font-size:1rem;
  color:#aaa;
  margin: 10px 0;
}
.post-page .author{
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}
.content p{
  line-height: 1.7rem;
  margin: 30px 0;
}
.content li{
  margin-bottom: 10px;
}
.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding:15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
a svg{
  height:20px;
}

.create-post{
  width: 70%;
  margin: auto;
}

.create-post button{
  width: 102%;
}

.create-post .editor{
  width: 7000px;
}